{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

{% url 'carts:add' as add_to_cart_url %}

<div class="container my-5">
    <div class="row">
        <div class="col s12 m5">
            <div class="owl-carousel owl-theme d-md-none">
                {% if pictures %}
                {% for pic in pictures %}
                <div class="item">
                    <a class="modal-trigger" href="#modal{{ forloop.counter }}">
                        <img src="{{ pic.url }}" alt="" class="">
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <img src="{% static 'images/placeholder.jpg' %}" alt="" class="responsive-img p-5"/>
                {% endif %}

            </div>

            <ul id='carousel-custom-dots' class='owl-dots'>
                {% for pic in pictures %}
                <button role="button" class="owl-dot active">
                    <img src="{{ pic.url }}" alt=""
                         class="responsive-img" width="50px">
                </button>
                {% endfor %}

            </ul>

        </div>

        <div class="col s12 m7">
            <h1 class="font-200 text-dblue font-weight-bold">{{ obj.descripcion }}</h1>
            <p>{{ obj.marca }} - {{ obj.serie }}</p>
            <p>Composicion: {{ obj.composicion }} </p>
            <p>SKU: {{ obj.sku }} </p>

            <p></p>
            <p class="font-150 font-weight-bold mb-0">Costo: <span class="text-red">${{ obj.costo }}</span></p>
            <p class="font-150 font-weight-bold my-0">Precio sugerido: <span class="grey-text">${{ obj.precio }}</span>
            </p>
            <p class="grey-text mt-0">(IVA incluido)</p>


            <form method="POST" action="{{ add_to_cart_url }}"> {% csrf_token %}
                {% for key, values in products.items %}
                <p class="text-dblue font-weight-bold font-150">COLOR</p>
                <svg width="40px" height="40px">
                    <circle cx="20px" cy="20px" r="15px" stroke="black" stroke-width="1"
                            fill="{{ values.0.sku.color.hex }}"/>
                </svg>
                <p>{{ key }}</p>

                <p class="text-dblue font-weight-bold mt-3 font-150 mb-0">TALLA</p>

                <div class="row">
                    {% for v in values %}


                    <div class="col s2 px-1">
                        <p class="product-talla-square">{{ v.sku.talla.short }}</p>
                        <input type="number" class="product-qty-square" name="{{ v.sku }}"
                               value="{{ v.quantity }}"
                        >
                    </div>
                    {% if forloop.counter == 6 %}
                    <div class="col s12">
                        <p class="mt-0 font-weight-bold grey-text">Cantidad a elegir</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="col s12">
                        <p class="mt-0 font-weight-bold grey-text">Cantidad a elegir</p>
                    </div>
                </div>

                {% endfor %}

                <button type="submit" class="btn bg-blue w-100 f text-capitalize">
                    {{ cart_btn_text }}
                </button>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        {% if pictures %}
        {% for pic in pictures %}
        <div id="modal{{ forloop.counter }}" class="modal">
            <img src="{{ pic.url }}" alt="" class="responsive-img">
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<style>
    .modal {
        width:100%!important;
        max-height:unset!important;
        top:20%!important;
        box-shadow:none!important;
        -webkit-box-shadow:none!important;
        background:none!important;
    }

    @media (min-width: 800px) {
        .modal {
            width:48%!important;
            max-height:unset!important;
            top:2%!important;
            box-shadow:none!important;
            -webkit-box-shadow:none!important;
            background:none!important;
        }
    }

</style>


{% endblock %}


