{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row d-flex">
        <div class="col s12 m4 bg-blue m-0 valign-wrapper">
            <h1 class="text-white w-100 center">{{ title }}</h1>
        </div>
        <div class="col s12 m8 p-0">
            <img src="{% static 'images/caballero-banner.jpg' %}" alt="" class="responsive-img">
        </div>
    </div>
</div>

<div class="container mt-4 mb-5">
    <div class="row">
        {% for obj in masters %}
        <a href="{{ obj.get_absolute_url }}">
            <div class="col s12 m3 mt-1">
                <div class="card p-3">
                    {% if obj.image %}
                    <img src="{{ obj.image.url }}" alt="" class="responsive-img"/>
                    {% else %}
                    <img src="{% static 'images/playera-placeholder.jpg' %}" alt="" class="responsive-img"/>
                    {% endif %}

                    <div class="division-product-info">
                        <p class="division-product-iva">{{ obj.marca }}</p>
                        <h2 class="division-product-title">{{ obj.descripcion }}</h2>
                        <p class="division-product-iva">(IVA incluido)</p>
                        <p class="division-product-costo">Costo ${{ obj.costo }}</p>
                        <p class="division-product-pvps">PVPS ${{ obj.precio }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

    <!--    <div class="row mt-2">-->
    <!--        <div class="col s12">-->
    <!--            <p class="grey-text">Precio de Venta al Público Sugerida</p>-->
    <!--        </div>-->
    <!--    </div>-->
</div>

{% endblock %}
