{% extends "base.html" %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col s12">
            <h1 class="text-lblue font-200">Administración de contraseña</h1>
            <div class="span bg-lblue py-1"></div>
        </div>
    </div>
</div>

<div class="container mh-50">
    <div class='row'>
        <div class='col s12 m6 offset-m3 card p-5'>
            <h1 class=' font-200'>Gracias</h1>
            <p>Si tu correo está activo en Jimmiss.mx te hemos enviado un correo para reiniciar tu contraseña.</p>
        </div>
    </div>
</div>
{% endblock %}
