{% extends "base.html" %}
{% block content %}

<div class="container-fluid  ">
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-white">Administración de contraseña</h1>
            </div>
        </div>
    </div>
</div>

<div class='row my-5'>
    <div class='col-md-4 col-10  mx-auto card p-5'>
    <h1>Ayuda con la contraseña</h1>

        <p>Escribe la dirección de correo electrónico y te enviaremos las instrucciones para reiniciar tu contraseña</p>
        <form method='post' action=''>{% csrf_token %}
        {{ form.as_p }}
        <span style='margin-bottom: 12px;'></span>
        <button type="submit" class='btn btn-block btn-light-orange'>Reinicie su contrasenña</button>
        </form>
      </div>
</div>
{% endblock %}
