{% extends "base.html" %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col s12">
            <h1 class="text-lblue font-200">Administración de contraseña</h1>
            <div class="span bg-lblue py-1"></div>
        </div>
    </div>
</div>

<div class="container mh-50">
    <div class='row'>
        <div class='col s12 m6 offset-m3 p-5'>
            <h1 class='my-5 py-5 font-200'>Has cambiado tu contraseña exitosamente</h1>
        </div>
    </div>
</div>
{% endblock %}
