{% extends "base.html" %}
{% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col s12">
            <h1 class="text-lblue font-200">Administración de contraseña</h1>
            <div class="span bg-lblue py-1"></div>
        </div>
    </div>
</div>

<div class="container mh-50">
    <div class='row'>
        <div class='col s12 m6 offset-m3 card p-5'>
            <h1 class="font-200 center">Crea tu nueva contraseña</h1>
            <form method='post' action=''>{% csrf_token %}
                {{ form.as_p }}
                <span style='margin-bottom: 12px;'></span>
                <button type="submit" class='btn-large bg-lblue w-100 mt-4'>Crear contraseña</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
