{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}
{% url 'carts:delete_entry' as delete_entry_url %}
{% url 'carts:add_1' as add_1_url %}
{% url 'carts:remove_1' as remove_1_url %}

{% url 'orders:address' as order_address_url %}

<div class="container my-5 d-none d-md-block">
    <div class="row">
        <div class="col s4">
            <h1 class="text-lblue font-150 center">1 - Carrito</h1>
        </div>
        <div class="col s4">
            <h1 class=" font-150 center">2 - Dirección de entrega</h1>
        </div>
        <div class="col s4">
            <h1 class=" font-150 center">3 - Completar orden</h1>
        </div>
        <div class="col s12">
            <div class="progress bg-lblue2">
                <div class="determinate bg-lblue" style="width: 33%"></div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5 d-md-none">
    <div class="row">
        <div class="col s12">
            <h1 class="text-lblue font-200 center">Carrito</h1>
            <div class="col s12">
                <div class="progress bg-lblue2">
                    <div class="determinate bg-lblue" style="width: 33%"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if empty %}

<div class="container">
    <div class="row">
        <div class="col s12 center">
            <p class="font-150">Tu carrito está vacío, agrega productos para continuar</p>
            <a href="/" class="btn-large bg-blue">Ver Catalogo</a>
        </div>
    </div>
</div>
{% else %}

<div class="container">
    <div class="row">
        <div class="col s12 m8">
            {% for obj in entries %}
            <div class="row card py-2 d-flex valign-wrapper cart-card">

                <div class="col s12 m2">
                    {% if obj.sku_product.master.image %}
                    <img src="{{ obj.sku_product.master.image.url }}" alt="" class="responsive-img"/>
                    {% else %}
                    <img src="{% static 'images/placeholder.jpg' %}" alt="" class="responsive-img"/>
                    {% endif %}
                </div>

                <div class="col s12 m7">
                    <p class="m-0 font-weight-bold">SKU: {{ obj.sku_product.sku }}</p>
                    <p class="mt-2">
                        <a href="{{ obj.sku_product.master.get_absolute_url }}">
                            {{ obj.sku_product.master.descripcion }} /
                            {{ obj.sku_product.color }} /
                            {{ obj.sku_product.talla }}
                        </a>
                    </p>
                    <p><a class="cart-qty-link" href="{{ obj.sku_product.master.get_absolute_url }}">Modificar todas las cantidades</a></p>
                </div>

                <div class="col s12 m3">
                    <p class="font-weight-bold text-right w-100 font-125">${{ obj.sku_product.master.costo }} </p>

                    <div class="row">
                        <div class="col s3 cart-quantity-column ">
                            <form method="POST" action="{{ remove_1_url }}"> {% csrf_token %}
                                <input type="hidden" value="{{obj.sku_product.sku}}" name="sku_product_sku">
                                <button type="submit" class="right btn-cart-quantity">-</button>
                            </form>
                        </div>
                        <div class="col s6 cart-quantity-column valign-wrapper">
                            <p class="my-0 center w-100">{{ obj.quantity }}
                            </p>
                        </div>
                        <div class="col s3 cart-quantity-column ">
                            <form method="POST" action="{{ add_1_url }}"> {% csrf_token %}
                                <input type="hidden" value="{{obj.sku_product.sku}}" name="sku_product_sku">
                                <button type="submit" class="left btn-cart-quantity">+</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col s12 m1">
                    <form method="POST" action="{{ delete_entry_url}} "> {% csrf_token %}
                        <p class="center">
                            <button type="submit" class="text-dblue font-weight-bold btn-cart-quantity">X</button>
                        </p>
                        <input type="hidden" name="delete-entry-sku" value="{{ obj.sku_product.sku }}">
                    </form>
                </div>

            </div>

            {% endfor %}
        </div>

        <div class="col s12 m4">
            <div class="card cart-card px-3 pt-1">
                <p class="center font-weight-bold font-125">Resumen</p>
                <hr/>
                <div class="row mt-3">
                    <div class="col s6">
                        <p>Subtotal:</p>
                    </div>
                    <div class="col s6">
                        <p class="text-right">${{ total }}</p>
                    </div>
                </div>
                <div class="row font-weight-bold">
                    <div class="col s6">
                        <p class="">Total:</p>
                    </div>
                    <div class="col s6">
                        <p class="text-right">${{ total }}</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col s12 mt-2">
                    <a href="{{ order_address_url }}"
                       class="waves-effect waves-light btn-large bg-blue w-100 f ">
                        Realizar Pedido
                    </a>
                </div>
                <div class="col s12 mt-4">
                    <a href="/"
                       class="waves-effect waves-light btn bg-lblue w-100 f text-capitalize">
                        Guardar pedido y seguir comprando
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
