{% load static %}

{% url 'home' as home_url %}
{% url 'carts:home' as cart_url %}
{% url 'nosotros' as nosotros_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'accounts:staff-home' as staff_home_url %}
{% url 'accounts:home' as account_home_url %}
{% url 'skus:list' as catalogo_url %}
{% url 'contacto' as contacto_url %}
{% url 'password_reset' as password_reset_url %}
{% url 'password_change' as password_change_url %}



<nav class="navbar bg-blue">
    <div class="container">
        <div class="nav-wrapper black-text">
            <a href="{{ home_url }}" class="brand-logo">
                <img src="{% static 'images/jimmiss-logo.png' %}" class="responsive-img" width="130px" alt="">
            </a>
            <a href="#" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ home_url }}">INICIO</a></li>
                <li><a href="{{ catalogo_url }}">CATÁLOGO</a></li>
                <li><a href="{{ nosotros_url }}">NOSOTROS</a></li>
                <li><a href="{{ contacto_url }}">CONTACTO</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown-nav-account">MI CUENTA<i
                        class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="{{ cart_url }}">REALIZAR PEDIDO</a></li>
            </ul>
        </div>
    </div>
</nav>


<ul id="dropdown-nav-account" class="dropdown-content">


    {% if request.user.is_authenticated %}
        {% if request.user.is_staff %}
            <li><a href="{{ staff_home_url }}">Panel de Staff</a></li>
        {% else %}
            <li><a href="{{ account_home_url }}">Panel</a></li>
            <li><a href="{{ home_url }}">Pedidos</a></li>
            <li class="divider"></li>
        {% endif %}
            <li><a href="{{ password_change_url }}">Cambiar Contraseña</a></li>
            <li><a href="{{ logout_url }}">Cerrar Sesión</a></li>

    {% else %}
    <li><a href="{{ login_url }}">Iniciar Sesión</a></li>
    <li><a href="{{ password_reset_url }}">Restablecer contraseña</a></li>

    {% endif %}
</ul>