html {
    scroll-behavior: smooth;
}

.row {
    margin-bottom: 0;
}

a {
    color: unset;
}

p {
    font-size:1.5rem;
}

@media only screen and (min-width: 993px) {
.container {
    max-width: 90%!important;
    width: 90%!important;
}
}

@media only screen and (min-width: 1920px) {
.container {
    max-width: 7obje0%!important;
    width: 70%!important;
}
}

:root {
  --gold: #d4bd8b;
}
