{% extends "base.html" %}
{% load static %}
{% load admin_urls %}

{% block head_title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}

{% url 'orders:staff-list' as orders_staff_list_url %}
{% url 'register' as register_url %}

<div class="container my-5">
    <div class="row">
        <div class="col s12">
            <h1 class="text-lblue font-200">Panel de control</h1>
            <div class="span bg-lblue py-1"></div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col s12 m3">
            <div class="collection">
                <a href="#!" class="collection-item">Ordenes</a>
                <a href="#!" class="collection-item">Usuarios</a>
                <a href="#!" class="collection-item">Productos</a>
                <a href="#!" class="collection-item">Categorias</a>
            </div>
        </div>
        <div class="col s12 m9">
            <div class="col s12 m12">
                <h3>Ultimas ordenes</h3>
                <div class="collection">

                    <a href="{{ order.get_staff_url }}" class="collection-item">
                        <div class="row">
                            <div class="col s2">
                                ID
                            </div>
                            <div class="col s4">
                                Fecha
                            </div>
                            <div class="col s2">
                                Usuario
                            </div>
                            <div class="col s2">
                                Estatus
                            </div>
                            <div class="col s1">
                                Total
                            </div>
                        </div>

                    </a>

                    {% for order in orders %}
                    <a href="{{ order.get_staff_url }}" class="collection-item">
                        <div class="row">
                            <div class="col s2">
                                {{ order.order_id }}
                            </div>
                            <div class="col s4">
                                {{ order.timestamp }}
                            </div>
                            <div class="col s2">
                                {{ order.user }}
                            </div>
                            <div class="col s2">
                                {{ order.status }}
                            </div>
                            <div class="col s1">
                                ${{ order.total }}
                            </div>
                        </div>

                    </a>
                    {% endfor %}
                </div>
                <p class="text-right"><a href="{{ orders_staff_list_url }}" class="btn bg-blue right">Ver Todas</a></p>
            </div>

            <div class="col s12 m12">
                <h3>Usuarios</h3>

                <div class="collection">

                    <a class="collection-item">
                        <div class="row">
                            <div class="col s3">
                                Usuario
                            </div>
                            <div class="col s3">
                                Correo
                            </div>
                        </div>
                    </a>

                    {% for user in users %}
                    <a href="{{ user.get_absolute_url }}" class="collection-item">
                        <div class="row">
                            <div class="col s3">
                                {{ user }}
                            </div>
                            <div class="col s3">
                                {{ user.user.email }}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
                <p class="text-right"><a href="{{ register_url }}" class="btn bg-blue right">Crear usuario</a></p>

            </div>

            <div class="col s12 m12">
                <h3>Productos</h3>

                <div class="collection">

                    <a class="collection-item">
                        <div class="row">
                            <div class="col s3">
                                Descripción
                            </div>
                            <div class="col s3">
                                SKU
                            </div>
                            <div class="col s3">
                                Precio
                            </div>
                            <div class="col s3">
                                Costo
                            </div>
                        </div>
                    </a>
                    {% for skumaster in skumasters %}
                    <a href="{{ order.get_staff_url }}" class="collection-item">
                        <div class="row">
                            <div class="col s3">
                                {{ skumaster.descripcion }}
                            </div>
                            <div class="col s3">
                                {{ skumaster.sku }}
                            </div>
                            <div class="col s3">
                                {{ skumaster.precio }}
                            </div>
                            <div class="col s3">
                                {{ skumaster.costo }}
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div class="col s12 m12">
                <h3>Categorias</h3>

                <div class="collection">
                    {% for categoria in categorias %}
                    <a href="{{ order.get_staff_url }}" class="collection-item">
                        {{ categoria }}
                    </a>
                    {% endfor %}
                </div>

                <p class="text-right">
                    <a class="btn bg-blue" href="{% url 'admin:categorias_categoria_add' %}">Crear categoria</a>
                </p>
            </div>

            <div class="col s12 m12">
                <h3>Marcas</h3>

                <div class="collection">
                    {% for marca in marcas %}
                    <a href="{{ order.get_staff_url }}" class="collection-item">
                        {{ marca }}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <p class="text-right"><a class="btn bg-blue" href="{% url 'admin:marcas_marca_add' %}">Crear Marca</a></p>


            <div class="col s12 m12">
                <h3>Colores</h3>

                <div class="collection">
                    <a href="{{ order.get_staff_url }}" class="collection-item">
                        <div class="row">
                            <div class="col s3">Color</div>
                            <div class="col s3">Código Hex</div>
                        </div>
                    </a>

                    {% for color in colores %}

                    <a href="{{ order.get_staff_url }}" class="collection-item">
                        <div class="row">
                            <div class="col s3">{{ color }}</div>
                            <div class="col s3">{{ color.hex }}</div>
                        </div>
                    </a>
                    {% endfor %}
                </div>

                <p class="text-right">
                    <a class="btn bg-blue" href="{% url 'admin:colores_color_add' %}">Crear Color</a>
                </p>

            </div>

            <div class="col s12 m12">
                <h3>Composiciones</h3>

                <div class="collection">
                    {% for composicion in composiciones %}
                    <a href="{{ order.get_staff_url }}" class="collection-item">
                        {{ composicion }}
                    </a>
                    {% endfor %}
                </div>
                <p class="text-right">
                    <a class="btn bg-blue" href="{% url 'admin:composiciones_composicion_add' %}">Crear Composicion</a>
                </p>

            </div>

            <div class="col s12 m12">
                <h3>Divisiones</h3>

                <div class="collection">
                    {% for division in divisiones %}
                    <a href="{{ order.get_staff_url }}" class="collection-item">
                        {{ division }}
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div class="col s12 m12">
                <h3>Series</h3>

                <div class="collection">
                    {% for serie in series %}
                    <a href="{{ order.get_staff_url }}" class="collection-item">
                        {{ serie }}
                    </a>
                    {% endfor %}
                </div>
                <p class="text-right">
                    <a class="btn bg-blue" href="{% url 'admin:series_serie_add' %}">Crear Serie</a>
                </p>

            </div>

            <div class="col s12 m12">
                <h3>Tallas</h3>

                <div class="collection">
                    {% for talla in tallas %}
                    <a href="{{ order.get_staff_url }}" class="collection-item">
                        {{ talla }}
                    </a>
                    {% endfor %}
                </div>
                <p class="text-right">
                    <a class="btn bg-blue" href="{% url 'admin:tallas_talla_add' %}">Crear Talla</a>
                </p>
            </div>
        </div>

    </div>
</div>


{% endblock %}