{% extends "base.html" %}

{% load static %}

{% block head_title %} {% endblock %}

{% block content %}

<div class="container mt-4 mb-5">
    <div class="row">
        <div class="col s12 m4 mt-4">
            <div class="">
                <img src="{% static 'images/home-dama.jpg'%}" alt="Dama" class="responsive-img"/>
                <div class="center bg-dblue p-4">
                    <h2 class="white-text">Dama</h2>
                    <a class="waves-effect waves-light btn-large bg-red mt-3 btn-home" href="{{ btn.link }}">
                        Proximamente
                        <br>
                        <img src="{% static 'images/fabrimalla-logo.png'%}" alt="" class="" width="30px"/>
                    </a>
                </div>
            </div>
        </div>

        <div class="col s12 m4 mt-4">
            <div class="">
                <img src="{% static 'images/home-caballero.jpg'%}" alt="Dama" class="responsive-img"/>
                <div class="center bg-dblue p-4">
                    <h2 class="white-text">Caballero</h2>
                    <a class="waves-effect waves-light btn-large bg-blue mt-3 btn-home"
                       href="/skus/caballero?cat=ropa_interior"
                    >
                        Ropa Interior
                        <br>
                        <img src="{% static 'images/jim-logo.png'%}" alt="" class="" width="30px"/>
                    </a>
                </div>
            </div>
        </div>

        <div class="col s12 m4 mt-4">
            <div class="">
                <img src="{% static 'images/home-nina.jpg'%}" alt="Dama" class="responsive-img"/>
                <div class="center bg-dblue p-4">
                    <h2 class="white-text">Nina</h2>
                    <a class="waves-effect waves-light btn-large bg-red mt-3 btn-home"
                       href="/skus/niñas?cat=ropa_interior"
                    >
                        Ropa Interior
                        <br>
                        <img src="{% static 'images/miss-logo.png'%}" alt="" class="" width="30px"/>
                    </a>
                </div>
            </div>
        </div>


        <div class="col s12 m4 mt-4">
            <div class="">
                <img src="{% static 'images/home-nino.jpg'%}" alt="Dama" class="responsive-img"/>
                <div class="center bg-dblue p-4">
                    <h2 class="white-text">Niño</h2>
                    <a class="waves-effect waves-light btn-large bg-blue mt-3 btn-home"
                       href="/skus/niños?cat=ropa_interior"
                    >
                        Ropa Interior
                        <br>
                        <img src="{% static 'images/jimm-logo.png'%}" alt="" class="" width="30px"/>
                    </a>
                </div>
            </div>
        </div>


        <div class="col s12 m4 mt-4">
            <div class="">
                <img src="{% static 'images/home-preescolar.jpg'%}" alt="Dama" class="responsive-img"/>
                <div class="center bg-dblue p-4">
                    <h2 class="white-text">Preescolar</h2>
                    <a class="waves-effect waves-light btn-large bg-lblue mt-3 btn-home"
                       href="/skus/preescolar?cat=ropa_interior"
                    >
                        Ropa Interior
                        <br>
                        <img src="{% static 'images/jimm-logo.png'%}" alt="" class="" width="30px"/>
                    </a>
                </div>
            </div>
        </div>


        <div class="col s12 m4 mt-4">
            <div class="">
                <img src="{% static 'images/home-bebe.jpg'%}" alt="Dama" class="responsive-img"/>
                <div class="center bg-dblue p-4">
                    <h2 class="white-text">Bebé</h2>
                    <a class="waves-effect waves-light btn-large bg-lblue2 text-blue mt-3 btn-home"
                       href="/skus/bebe?cat=ropa_interior"
                    >
                        Ropa Interior
                        <br>
                        <img src="{% static 'images/jimm-logo.png'%}" alt="" class="" width="30px"/>
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>
{% endblock %}
