{% load static %}

<!DOCTYPE html>
<html lang="en" data-lt-installed="true">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Tu orden en JimMiss.mx</title>
    <style>
        .container {
            width:90%;
        }
        @media (min-width:1300px) {
            .container {
                width:70%;
            }
        }



    </style>
</head>
<body>
<div style="background-color: #173B4D;padding:3rem;">
    <div class="container mx-auto"
         style="font-family: 'Lato', Helvetica, sans-serif;color: #333447;line-height: 1.5;width: 90%;margin-left: auto;margin-right: auto;padding: 3rem!important;">
        <p class="center"
           style="font-family: 'Lato', Helvetica, sans-serif;color: #333447;line-height: 1.8;font-size: 1.125rem;font-weight: 200;text-align: center;margin-left: auto;margin-right: auto;">
            <img src="https://jimmiss-static3.s3.amazonaws.com/static/images/jimmiss-logo.png" width="200px"
                 class="mx-auto"
                 style="font-family: 'Lato', Helvetica, sans-serif;color: #333447;line-height: 1.5;margin-right: auto;margin-left: auto;">
        </p>
    </div>

    <div class="container mx-auto p-5 bg-white mb-5"
         style="font-family: 'Lato', Helvetica, sans-serif;color: #333447;line-height: 1.5;width: 90%;margin-left: auto;margin-right: auto;margin-bottom: 3rem!important;padding: 3rem!important;background-color: white!important;">
        <div class="row"
             style="font-family: 'Lato', Helvetica, sans-serif;color: #333447;line-height: 1.5;position: relative;width: 100%;">
            <h1 class="text-lblue center "
                style="font-family: 'Lato', Helvetica, sans-serif;color: #4B868F;line-height: 1.5;font-size: 2.5rem;text-align: center;margin-left: auto;margin-right: auto;">
                Nuevo contacto Creado</h1>
            <p class="center b"
               style="font-family: 'Lato', Helvetica, sans-serif;color: #333447;line-height: 1.8;font-size: 1.125rem;font-weight: bold;text-align: center;margin-left: auto;margin-right: auto;">
                Email: {{ obj.email }}
            </p>
            <p class="center b"
               style="font-family: 'Lato', Helvetica, sans-serif;color: #333447;line-height: 1.8;font-size: 1.125rem;font-weight: bold;text-align: center;margin-left: auto;margin-right: auto;">
                Nombre comercial: {{ obj.nombre_comercial }}
            </p>
            <p class="center b"
               style="font-family: 'Lato', Helvetica, sans-serif;color: #333447;line-height: 1.8;font-size: 1.125rem;font-weight: bold;text-align: center;margin-left: auto;margin-right: auto;">
                Dirección comercial: {{ obj.direccion_comercial }}
            </p>
            <p class="center b"
               style="font-family: 'Lato', Helvetica, sans-serif;color: #333447;line-height: 1.8;font-size: 1.125rem;font-weight: bold;text-align: center;margin-left: auto;margin-right: auto;">
                Razón Social: {{ obj.razon_social }}
            </p>
            <p class="center b"
               style="font-family: 'Lato', Helvetica, sans-serif;color: #333447;line-height: 1.8;font-size: 1.125rem;font-weight: bold;text-align: center;margin-left: auto;margin-right: auto;">
                Teléfono: {{ obj.telefono }}
            </p>
            <p class="center b"
               style="font-family: 'Lato', Helvetica, sans-serif;color: #333447;line-height: 1.8;font-size: 1.125rem;font-weight: bold;text-align: center;margin-left: auto;margin-right: auto;">
                Mensaje: {{ obj.comments }}
            </p>

        </div>
    </div>
</div>
</body>
</html>

